section {
    width: 100%;
    margin-bottom: 2em;
    filter: var(--dfDropShadow);
}

.pixBorder {
    border: 8px solid transparent;
    border-image-outset: 0.75;
    border-image-width: 1em;
    border-image-slice: 4;
    border-image-repeat: stretch;
    image-rendering: pixelated;
    padding: 2px;
}


/* Borders in Sections */

.pixBorder.orange {
    border-image-source: url('../assets/border/orange.png');
    background-color: #d9a066;
}

.pixBorder.orange.in {
    border-image-source: url('../assets/border/in_orange.png');
}

.pixBorder.red {
    border-image-source: url('../assets/border/red.png');
    background-color: #cf7a70;
}

.pixBorder.red.in {
    border-image-source: url('../assets/border/in_red.png');
}

.pixBorder.blue {
    border-image-source: url('../assets/border/blue.png');
    background-color: #669fd9;
}

.pixBorder.blue.in {
    border-image-source: url('../assets/border/in_blue.png');
}

.pixBorder.green {
    border-image-source: url('../assets/border/green.png');
    background-color: #69d66d;
}

.pixBorder.green.in {
    border-image-source: url('../assets/border/in_green.png');
}

.pixBorder.yellow {
    border-image-source: url('../assets/border/yellow.png');
    background-color: #d9ce66;
}

.pixBorder.yellow.in {
    border-image-source: url('../assets/border/in_yellow.png');
}

.pixBorder.pink {
    border-image-source: url('../assets/border/pink.png');
    background-color: #d866d9;
}

.pixBorder.pink.in {
    border-image-source: url('../assets/border/in_pink.png');
}

.pixBorder.gray {
    border-image-source: url('../assets/border/gray.png');
    background-color: #a0a0a0;
}

.pixBorder.gray.in {
    border-image-source: url('../assets/border/in_gray.png');
}