/* Body and Navigator */

body,
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 70%;
    margin-block: 3em;
}

@media only screen and (max-width: 1200px) {
    nav {
        width: 95%;
    }
}


/* Top Image */

#logo {
    margin: 2em;
    width: 20em;
    filter: var(--dfDropShadow);
}


/* Games */

#gridGames,
#gridBlog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    padding-inline: 15px;
    grid-gap: 1.5em;
    justify-items: stretch;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    #gridGames,
    #gridBlog {
        grid-template-columns: repeat(2, 48%);
    }
}

@media only screen and (max-width: 500px) {
    #gridGames,
    #gridBlog {
        grid-template-columns: repeat(1, 98%);
    }
}

#gridGames>li,
#gridBlog>li {
    list-style: none;
}

#gridGames>li>span,
#gridBlog>li>span {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
}

#gridGames>li>button {
    margin-block: 1em;
    margin-inline: auto;
    width: 90%;
}

#gridBlog>li>h2 {
    font-size: 13pt;
}

#gridBlog>li>p {
    font-size: 9pt;
}


/* Donate */

section[name="donate"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icoDonate {
    /*/position: relative;
    left: calc(50% - 3em);*/
    height: 3em;
    margin: 1em;
    animation: icoDonation ease-in-out 2s infinite;
}

#icoDonate+*+button {
    margin: 1em;
    padding: 1em;
}

#codePixInput {
    display: none;
}